
@model IEnumerable<DigitalRetailers.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<style>
     .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
     }
    .truncated {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div>
    <div class="container mydiv">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3" style="margin-bottom:15px;">
                    <div class="card shadow-sm" style="width:16rem;">
                       
                        <img class="center" src="@item.Image" width="80%" height="205" />
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    @item.Name
                                </b><br />
                                <b>
                                    ₹@item.Price
                                </b><br />

                            <p class="truncated">@item.Description</p>
                            </p>

                            <div>
                                <a type="button" class="btn btn-sm btn-outline-primary" asp-controller="Product" asp-route-id="@item.Id" asp-action="Details">View Details</a>
                                <a type="button" class="btn btn-sm btn-success" asp-controller="Cart" asp-action="AddItem" asp-route-id="@item.Id">Add to cart</a>
                            </div>


                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
