@{
    ViewData["Title"] = "Index";
}

<style>
    .truncated {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
@if (ViewBag.cart == null)
{
    <h5>Cart is empty</h5>
    <a class="btn btn-warning m-1" asp-controller="Product" asp-action="Index">Continue Shopping</a>

}


else
{
<div style="padding-right:130px;padding-left:130px">
    @foreach (var item in ViewBag.cart)
    {
        
        <div class="row p-2 bg-white border rounded" style="margin-bottom:10px">
            <div class="col-md-3 mt-1"><img src=@item.Product.Image width="290" height="150"></div>
            <div class="col-md-6 mt-1">
                <h5 name="PName">@item.Product.Name</h5>

                <p class="truncated">@item.Product.Description<br><br></p>
            </div>
            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                <div class="d-flex flex-row align-items-center">
                    <h4 class="mr-1">₹ @item.Product.Price</h4><br />

                </div>
                <p>Quantity : @item.Quantity   Item Total: ₹<b>@(item.Product.Price * item.Quantity)</b></p>

                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4"><a class="btn btn-outline-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.Id" type="button">Remove</a></div>
            </div>
        </div>

    }
    <br />
    <br />

    <form style="color:green;margin-left:83%" asp-controller="Payment" asp-action="Create" method="POST" id="payment-form">
       
        <b>TOTAL ₹@ViewBag.total </b><br />


        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="pk_test_51Jc8eoSChZXLAWtZQhX2hNNqhGXUNQK0udYqXBMmpayUdIdAXMJEVU8IkMs6hiXYltW8DXzJrZcnIc3CsARwJUvA00CL3YY96H"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount=@(ViewBag.total * 100)>

        </script>
    </form>
    <a class="btn btn-warning m-1" asp-controller="Product" asp-action="Index">Continue Shopping</a>
    
</div>
}

