@model IEnumerable<DigitalRetailers.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<style>
    .truncated {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<h4>Product List</h4>
<p>
    <a class="btn btn-success btn-sm" asp-action="Create">Add New</a>
</p>
@foreach (var item in Model)
{
    <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1"><img src=@item.Image height="150"></div>
        <div class="col-md-6 mt-1">
            <h5>@item.Name</h5>

            <p class="truncated">@item.Description<br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1">₹ @item.Price</h4><br />

            </div>

            <div>
                <a class="btn btn-outline-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id" type="button">Details</a>
                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id" type="button">Edit</a>
                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id" type="button">Delete</a>
            </div>
        </div>
    </div>

}



